body{
    background: url(https://img.freepik.com/vector-gratis/fondo-degradado-oscuro-espacio-copia_53876-99548.jpg);
    background-size: cover;
    background-position: center;
    font-family:  sans-serif;
    font-family: 'Roboto Mono', monospace;

}

h1 {
    color:rgb(247, 54, 6)
    
}

.Minititulos {
    color:rgba(248, 172, 8, 0.932)
    
    
}
.suscribete{
    color:rgba(248, 172, 8, 0.932)
}

p {
    text-align: left;
}
.Lista1{
    color: aliceblue;
}

h6{
    text-align: right;
    color: rgb(175, 17, 17);
    font: 15px serif, serif;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 3%;
}

.descripcion {
    font-weight: bold;
    color: blue;
}
.contenedor-columnas{
    width: 100%;
    margin: auto;
    
}
.columnas1{
    width: 44%;
    float: left;
    padding: 20px 20px;
    box-sizing: border-box;
    border-style: groove;
    border-color: rgb(118, 118, 241);
    border-width: 2px;
}
.columnas2{
    width: 55%;
    float: right;
    padding: 20px 20px;
    box-sizing: border-box;
    border-style: groove;
    border-color: rgb(118, 118, 241);
    border-width: 2px;
}
.columnas3{
    width: 44%;
    float: right;
    padding: 20px 20px;
    box-sizing: border-box;
    box-sizing: border-box;
    border-style: groove;
    border-color: rgb(118, 118, 241);
    border-width: 2px;
}
.columnas4{
    width: 55%;
    float: left;
    padding: 20px 20px;
    box-sizing: border-box;
    box-sizing: border-box;
    border-style: groove;
    border-color: rgb(118, 118, 241);
    border-width: 2px;
}
.columnasT1{
    height: 50%;
    padding: 20px 20px;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.columnasT2{
    height: 49%;
    padding-top: 10px;
    padding: 20px 20px;
    box-sizing: border-box;
}

.columnax21{
    width: 50%;
    float: left;
    padding: 20px 20px;
    box-sizing: border-box;
}
.columnax22{
    width: 50%;
    float: right;
    padding: 20px 20px;
    box-sizing: border-box;
}

.columnax3{
    width: 33,33%;
    float: left;
    padding: 20px 20px;
    box-sizing: border-box;
}
.columnaPortada1{
    height: 25%;
    box-sizing: border-box;
}
.columnaPortada2{
    height: 10%;
    box-sizing: border-box;
}
